.character {
  border: 4px dashed blue;
  background-color: rgba(133, 134, 234, 0.5);
  /* Fill the available container height */
  height: 100vh;
  min-height: 500px;
  position: fixed;
  top: 0px;
  width: auto;
}
