.characterEditor {
  min-height: 100%;
  /* background: linear-gradient(-135deg, #a8ff78, #78ffd6); */
  padding-top: 128px;
  padding-bottom: 64px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 15%;
  left: 60%;
  bottom: 5%;
  min-height: 600px;
}

.controlColumn {
  width: 50%;
}
