.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  isolation: isolate;
}

.maxWidthWrapper {
  max-width: 1024px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 120px;
  right: 0;
}

.controlColumn {
  width: 50%;
}

.perspective {
  background: hsl(195deg, 20%, 86%);
  height: 40vh;
  position: fixed;
  bottom: 0;
}
