.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  isolation: isolate;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
}

.controlColumn {
  display: flex;
  overflow-x: auto;
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.screenDecoration{
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.characterControlWrapper {
  position: relative;
}

@media(min-width: 520px) {
  .header {
    width: 65%;
  }
  .characterWrapper {
    position: fixed;
    top: 128px;
    left: 58%;
    width: 360px;
  }
  .controlColumn {
    width: 50%;
    display: block;
    overflow: unset;
    position: static;
  }

}