/* @media (max-width: 400px) {
  .controlPane {
    display: flex;
  }
} */

.controlPane {
  padding: 18px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  border: white 6px solid;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-bottom: 32px;
}

.title {
  margin: 0;
  /* Optical centering */
  margin-bottom: -4px;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

@media (max-width: 400px) {
  .controlPane {
    z-index: 1000;
    width: 60%;
    margin-right: 32px; 
  }
  /* .controlPane:last-of-type {
    margin-right: 0px; 
  } */
}
