.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: inherit;
  transition: color 0.3s ease-in;
}

.footer a:hover {
  color: deeppink;
}
