.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  /* inherit is a better choice here, instead of just assigning the color to white */
  color: inherit;
}